<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/headers.ejs %>

    <h1><%= title %> <%= points %></h1>
    <p>Welcome <%= name %></p>

    <h1>Newly Registered</h1>
    
    

  </body>
</html>
